<link rel="stylesheet" href="/css/bgColor.css">

<div class="container-fluid pt-4 bgColor">
    <h2 class="text-center">All Employees</h2>
    <div
        class="container mt-4 table-responsive shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <table class="table table-hover align-middle ">
            <thead>
                <tr>
                    <th scope="col">EmpId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Admin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Sriya</td>
                    <td>sriyaP1002@gmail.com</td>
                    <td>false</td>
                    <td>
                        <a href="/admin/delete/id" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Sriya</td>
                    <td>sriyaP1002@gmail.com</td>
                    <td>false</td>
                    <td>
                        <a href="/admin/delete/id" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Sriya</td>
                    <td>sriyaP1002@gmail.com</td>
                    <td>false</td>
                    <td>
                        <a href="/admin/delete/id" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>