<link rel="stylesheet" href="/css/home.css">
<div class="main-container">
    <div class="width border">
        <div class="bg-success text-white border-bottom rounded border-dark">
            <div class="text-center fs-3 mx-auto fw-bold">
                Leave A Review
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="width border">
        <div class="bg-success text-white border-bottom rounded border-dark">
            <div class="text-center fs-3 mx-auto fw-bold">
                My Reviews
            </div>
        </div>
        <div>

        </div>
    </div>
</div>