.main-container {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;

    .width {
        width: 42%;
        // font-size: 1.6rem;
    }
}